{% load forms %}
{% checkbox  field="CancerTreatment.chemotherapy"  %}
{% checkbox  field="CancerTreatment.radiotherapy"  %}
{% checkbox  field="CancerTreatment.type_1_diabetes_mellitus"  %}
{% checkbox  field="CancerTreatment.type_2_diabetes_mellitus"  %}
{% checkbox  field="CancerTreatment.ckd_stage_1"  %}
{% checkbox  field="CancerTreatment.ckd_stage_2"  %}
{% checkbox  field="CancerTreatment.ckd_stage_3"  %}
{% checkbox  field="CancerTreatment.ckd_stage_4"  %}
{% checkbox  field="CancerTreatment.esrf"  %}
{% checkbox  field="CancerTreatment.gi_disease"  %}
{% checkbox  field="CancerTreatment.cardiac_disease"  %}
{% input  field="CancerTreatment.other"  %}