{% load forms %}
{% datepicker  field="CTFindings.date_of_ct_scan"  %}
{% radio field="CTFindings.bronchiectasis_segments"  %}
{% radio field="CTFindings.bronchiectasis_severity"  %}
{% radio field="CTFindings.nodules"  %}
{% radio field="CTFindings.tree_in_bud"  %}
{% radio field="CTFindings.central_mucous_plugging"  %}
{% radio field="CTFindings.consolidation2"  %}
{% radio field="CTFindings.mosaicism"  %}
{% radio field="CTFindings.cavitation_of_nodules"  %}
{% radio field="CTFindings.severe_cavitation_of_nodules"  %}
{% radio field="CTFindings.aspergilloma"  %}
