{% load forms %}
{% input  field="Immunodeficiency.primary"  %}
{% checkbox  field="Immunodeficiency.hiv"  %}
{% checkbox  field="Immunodeficiency.use_of_tnf_alpha_blocking_agent"  %}
{% checkbox  field="Immunodeficiency.use_of_other_immunosuppressive_medication"  %}
{% checkbox  field="Immunodeficiency.solid_organ_transplant_recipient"  %}
{% input  field="Immunodeficiency.other_immunodeficiency"  %}
{% textarea  field="Immunodeficiency.details_of_immunosupressive_drug_therapy"  %}
{% textarea  field="Immunodeficiency.immunosuppression_indication"  %}
{% textarea  field="Immunodeficiency.immunosuppression_duration"  %}