{% load forms %}
{% checkbox  field="RespiratoryHistory.previous_ntm_infection"  %}
{% checkbox  field="RespiratoryHistory.previous_tb_infection"  %}
{% checkbox  field="RespiratoryHistory.alpha_1_antitypsis_deficiency"  %}
{% checkbox  field="RespiratoryHistory.pneumoconiosis"  %}
{% checkbox  field="RespiratoryHistory.primary_ciliary_dyskinesia"  %}
{% checkbox  field="RespiratoryHistory.pulmonary_alveolar_proteinosis"  %}
{% checkbox  field="RespiratoryHistory.silicosis"  %}
{% input  field="RespiratoryHistory.other"  %}