{% load forms %}
{% input  field="Rheumatology.rhematoid_arthritis"  %}
{% input  field="Rheumatology.serongative_arthritis"  %}
{% checkbox  field="Rheumatology.vasculitis"  %}
{% checkbox  field="Rheumatology.sle"  %}
{% checkbox  field="Rheumatology.scleredema"  %}
{% checkbox  field="Rheumatology.sjogren"  %}
{% checkbox  field="Rheumatology.becet"  %}
{% checkbox  field="Rheumatology.wegener"  %}
{% checkbox  field="Rheumatology.anti_phospholipid_syndrome"  %}
{% input  field="Rheumatology.other"  %}