<span ng-show="item.chemotherapy">
     Chemotherapy
   <br />
</span>
<span ng-show="item.radiotherapy">
     Radiotherapy
   <br />
</span>
<span ng-show="item.type_1_diabetes_mellitus">
     Type 1 Diabetes Mellitus
   <br />
</span>
<span ng-show="item.type_2_diabetes_mellitus">
     Type 2 Diabetes Mellitus
   <br />
</span>
<span ng-show="item.ckd_stage_1">
     CKD stage 1
   <br />
</span>
<span ng-show="item.ckd_stage_2">
     CKD stage 2
   <br />
</span>
<span ng-show="item.ckd_stage_3">
     CKD stage 3
   <br />
</span>
<span ng-show="item.ckd_stage_4">
     CKD stage 4
   <br />
</span>
<span ng-show="item.esrf">
     ESRF
   <br />
</span>
<span ng-show="item.gi_disease">
     GI disease
   <br />
</span>
<span ng-show="item.cardiac_disease">
     Cardiac Disease
   <br />
</span>
<span ng-show="item.other">
    [[ item.other ]]
   <br />
</span>