<span ng-show="item.bmi">
    [[ item.bmi ]]
   <br />
</span>
<span ng-show="item.other_immunodeficiency">
    [[ item.other_immunodeficiency ]]
   <br />
</span>
<span ng-show="item.details_of_immunosupressive_drug_therapy">
    [[ item.details_of_immunosupressive_drug_therapy ]]
   <br />
</span>
<span ng-show="item.immunosuppression_indication">
    [[ item.immunosuppression_indication ]]
   <br />
</span>
<span ng-show="item.immunosuppression_duration">
    [[ item.immunosuppression_duration ]]
   <br />
</span>
<span ng-show="item.rhematoid_arthritis">
    [[ item.rhematoid_arthritis ]]
   <br />
</span>
<span ng-show="item.serongative_arthritis">
    [[ item.serongative_arthritis ]]
   <br />
</span>
<span ng-show="item.other_rheumatological_condition">
    [[ item.other_rheumatological_condition ]]
   <br />
</span>
<span ng-show="item.active_malignancy">
     Active Malignancy
   <br />
</span>
<span ng-show="item.past_malignancy">
     Past Malignancy
   <br />
</span>
<span ng-show="item.malignancy_type">
    [[ item.malignancy_type ]]
   <br />
</span>
<span ng-show="item.secondary_immunodeficiency">
    [[ item.secondary_immunodeficiency ]]
   <br />
</span>
<span ng-show="item.respiratory_history">
    [[ item.respiratory_history ]]
   <br />
</span>
<span ng-show="item.ntm_risk_factors">
    [[ item.ntm_risk_factors ]]
   <br />
</span>
<span ng-show="item.primary_immunodeficiency">
    [[ item.primary_immunodeficiency ]]
   <br />
</span>