<span ng-show="item.date_of_ct_scan">
    [[ item.date_of_ct_scan | shortDate ]]
   <br />
</span>
<span ng-show="item.bronchiectasis_segments">
    [[ item.bronchiectasis_segments ]]
   <br />
</span>
<span ng-show="item.bronchiectasis_severity">
    [[ item.bronchiectasis_severity ]]
   <br />
</span>
<span ng-show="item.nodules">
    [[ item.nodules ]]
   <br />
</span>
<span ng-show="item.tree_in_bud">
    [[ item.tree_in_bud ]]
   <br />
</span>
<span ng-show="item.central_mucous_plugging">
    [[ item.central_mucous_plugging ]]
   <br />
</span>
<span ng-show="item.consolidation2">
    [[ item.consolidation2 ]]
   <br />
</span>
<span ng-show="item.mosaicism">
    [[ item.mosaicism ]]
   <br />
</span>
<span ng-show="item.cavitation_of_nodules">
    [[ item.cavitation_of_nodules ]]
   <br />
</span>
<span ng-show="item.severe_cavitation_of_nodules">
    [[ item.severe_cavitation_of_nodules ]]
   <br />
</span>
<span ng-show="item.aspergilloma">
    [[ item.aspergilloma ]]
   <br />
</span>