<span ng-show="item.primary">
    [[ item.primary ]]
   <br />
</span>
<span ng-show="item.hiv">
     HIV
   <br />
</span>
<span ng-show="item.use_of_tnf_alpha_blocking_agent">
     Use of TNF Alpha Blocking Agent
   <br />
</span>
<span ng-show="item.use_of_other_immunosuppressive_medication">
     Use Of Other Immunosuppressive Medication
   <br />
</span>
<span ng-show="item.solid_organ_transplant_recipient">
     Solid Organ Transplant Recipient
   <br />
</span>
<span ng-show="item.other_immunodeficiency">
    [[ item.other_immunodeficiency ]]
   <br />
</span>
<span ng-show="item.details_of_immunosupressive_drug_therapy">
    [[ item.details_of_immunosupressive_drug_therapy ]]
   <br />
</span>
<span ng-show="item.immunosuppression_indication">
    [[ item.immunosuppression_indication ]]
   <br />
</span>
<span ng-show="item.immunosuppression_duration">
    [[ item.immunosuppression_duration ]]
   <br />
</span>