<span ng-show="item.date_of_sample">
    [[ item.date_of_sample | shortDate ]]
   <br />
</span>
<span ng-show="item.specimen_type">
    [[ item.specimen_type ]]
   <br />
</span>
<span ng-show="item.mycrobacterium_avium">
     Mycrobacterium Avium
   <br />
</span>
<span ng-show="item.mycrbacterium_intracellulare">
     Mycrbacterium Intracellulare
   <br />
</span>
<span ng-show="item.mycrbacterium_kansasil">
     Mycrbacterium Kansasil
   <br />
</span>
<span ng-show="item.mycrbacterium_abcessus">
     Mycrbacterium Abcessus
   <br />
</span>
<span ng-show="item.mycrbacterium_chelonae">
     Mycrbacterium Chelonae
   <br />
</span>
<span ng-show="item.mycrbacterium_fortuitum">
     Mycrbacterium Fortuitum
   <br />
</span>
<span ng-show="item.mycrbacterium_genavense">
     Mycrbacterium Genavense
   <br />
</span>
<span ng-show="item.mycrbacterium_gordonae">
     Mycrbacterium Gordonae
   <br />
</span>
<span ng-show="item.mycrbacterium_haemophilum">
     Mycrbacterium Haemophilum
   <br />
</span>
<span ng-show="item.mycrbacterium_immunogenum">
     Mycrbacterium Immunogenum
   <br />
</span>
<span ng-show="item.mycrbacterium_malmoense">
     Mycrbacterium Malmoense
   <br />
</span>
<span ng-show="item.mycrbacterium_marinum">
     Mycrbacterium Marinum
   <br />
</span>
<span ng-show="item.mycrbacterium_mucogenicum">
     Mycrbacterium Mucogenicum
   <br />
</span>
<span ng-show="item.mycrbacterium_nonchromogenicum">
     Mycrbacterium Nonchromogenicum
   <br />
</span>
<span ng-show="item.mycrbacterium_scrofulaceum">
     Mycrbacterium Scrofulaceum
   <br />
</span>
<span ng-show="item.mycrbacterium_simiae">
     Mycrbacterium Simiae
   <br />
</span>
<span ng-show="item.mycrbacterium_smegmatis">
     Mycrbacterium Smegmatis
   <br />
</span>
<span ng-show="item.mycrbacterium_szulgai">
     Mycrbacterium Szulgai
   <br />
</span>
<span ng-show="item.mycrbacterium_terrae">
     Mycrbacterium Terrae
   <br />
</span>
<span ng-show="item.mycrbacterium_ulcerans">
     Mycrbacterium Ulcerans
   <br />
</span>
<span ng-show="item.mycrbacterium_xenopi">
     Mycrbacterium Xenopi
   <br />
</span>
<span ng-show="item.mycrbacterium_tuberculosis">
     Mycrbacterium Tuberculosis
   <br />
</span>
<span ng-show="item.pseudamonas_aeroginosa">
     Pseudamonas Aeroginosa
   <br />
</span>
<span ng-show="item.steptoccocus_sp">
     Steptoccocus Sp
   <br />
</span>
<span ng-show="item.staphylococcus_sp">
     Staphylococcus Sp
   <br />
</span>
<span ng-show="item.enterococcus_sp">
     Enterococcus Sp
   <br />
</span>
<span ng-show="item.haemophilus_influenzae">
     Haemophilus Influenzae
   <br />
</span>
<span ng-show="item.klebsiella_pneumoniae">
     Klebsiella Pneumoniae
   <br />
</span>
<span ng-show="item.enterobacter">
     Enterobacter
   <br />
</span>
<span ng-show="item.Aspergillus">
     Aspergillus
   <br />
</span>
<span ng-show="item.moraxella">
     Moraxella
   <br />
</span>
<span ng-show="item.other">
    [[ item.other ]]
   <br />
</span>
<span ng-show="item.time_to_positive">
    [[ item.time_to_positive ]]
   <br />
</span>
<span ng-show="item.subspecies">
    [[ item.subspecies ]]
   <br />
</span>
<span ng-show="item.identification_methods">
    [[ item.identification_methods ]]
   <br />
</span>
