<span ng-show="item.breathlessness">
     Breathlessness
   <br />
</span>
<span ng-show="item.cough">
     Cough
   <br />
</span>
<span ng-show="item.sputum">
     Sputum
   <br />
</span>
<span ng-show="item.fatigue">
     Fatigue
   <br />
</span>
<span ng-show="item.fevers">
     Fevers
   <br />
</span>
<span ng-show="item.night_sweats">
     Night Sweats
   <br />
</span>
<span ng-show="item.weight_loss">
     Weight Loss
   <br />
</span>
<span ng-show="item.gi_symptoms">
     GI symptoms
   <br />
</span>
<span ng-show="item.haemoptysis">
     Haemoptysis
   <br />
</span>
<span ng-show="item.rash">
     Rash
   <br />
</span>
<span ng-show="item.Lymphadenopathy">
     Lymphadenopathy
   <br />
</span>
<span ng-show="item.skin_infection">
     Skin/soft tissue infection
   <br />
</span>
<span ng-show="item.recurrent_chest_infections">
     Recurrent Chest Infections
   <br />
</span>
<span ng-show="item.other">
    [[ item.other ]]
   <br />
</span>
<span ng-show="item.excercise_tolerence">
    [[ item.excercise_tolerence ]]
   <br />
</span>
<span ng-show="item.cough_type">
    [[ item.cough_type ]]
   <br />
</span>
<span ng-show="item.sputum_colour">
    [[ item.sputum_colour ]]
   <br />
</span>
<span ng-show="item.weight_loss_details">
    [[ item.weight_loss_details ]]
   <br />
</span>