<span ng-show="item.previous_ntm_infection">
     Previous NTM Infection
   <br />
</span>
<span ng-show="item.previous_tb_infection">
     Previous TB Infection
   <br />
</span>
<span ng-show="item.alpha_1_antitypsis_deficiency">
     Alpha-1 Antitrypsin Deficiency
   <br />
</span>
<span ng-show="item.pneumoconiosis">
     Pneumoconiosis
   <br />
</span>
<span ng-show="item.primary_ciliary_dyskinesia">
     Primary Ciliary Dyskinesia
   <br />
</span>
<span ng-show="item.pulmonary_alveolar_proteinosis">
     Pulmonary Alveolar Proteinosis
   <br />
</span>
<span ng-show="item.silicosis">
     Silicosis
   <br />
</span>
<span ng-show="item.other">
    [[ item.other ]]
   <br />
</span>