<span ng-show="item.rhematoid_arthritis">
    [[ item.rhematoid_arthritis ]]
   <br />
</span>
<span ng-show="item.serongative_arthritis">
    [[ item.serongative_arthritis ]]
   <br />
</span>
<span ng-show="item.vasculitis">
     Vasculitis
   <br />
</span>
<span ng-show="item.sle">
     SLE
   <br />
</span>
<span ng-show="item.scleredema">
     Scleredema
   <br />
</span>
<span ng-show="item.sjogren">
     Sjogren's
   <br />
</span>
<span ng-show="item.becet">
     Becet's
   <br />
</span>
<span ng-show="item.wegener">
     Wegener's/GPA
   <br />
</span>
<span ng-show="item.anti_phospholipid_syndrome">
     Anti-phospholipid syndrome
   <br />
</span>
<span ng-show="item.other">
    [[ item.other ]]
   <br />
</span>